/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Beginning of custom styles  */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    }
    *,
    *::after,
    *::before{
        box-sizing: inherit;
    }
    
    body {
        line-height: 1.5;
    }
    
    .clearfix::after{
        content: '';
        display: table;
        clear: both;
    }
    
    img {
        width: 100%;
    }
    
    /* LoVe HAte */
    a,
    a:link,
    a:visited{
        color: inherit;
    }
    
    a:hover,
    a:focus {
        color: #00add8;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
        /* top left-right bottom */
        margin: 1em 0 0.5em;
    }
    
    h1{
        font-size: 5.063rem;
    }
    h2{
        font-size: 3.375rem;
    }
    
    h3{
        font-size: 2.25rem;
    }
    
    h4{
        font-size: 1.5rem;
    }
    
    h5{
        font-size: 1rem;
    }
    
    p{
        /* top-bottom left-right */
        margin: 1em 0;
    }
    
    .body-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
        background-color: #222;
    }


    /* Styling the navigation */

    .nav-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        color: #c78c06;
        margin: 0 auto;
        padding: 30px;
      
    }

    .mobile-logo{
        margin-right: auto;
         }

          /* LoVe HAte */
    .nav-list a,
    .nav-list a:link,
    .nav-list a:visited{
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

    .nav-list a:hover,
    .nav-list a:focus,
    .nav-list a.current{
    background-color:#c78c06;
    color: #222;
    }

    .search{
        display: none;
    }
    #search{
        width: 93%;
        padding: 15px;
        font-size: 30px;   
    }
    
    button{
        border-color: #c78c06;
        color: #c78c06;
        background-color: #222;
        padding: 20px;
    }

       /* Main content */
    .background-image {
        background: url("../images/main-banner.jpg") no-repeat center center;
        background-size: cover;
        position: relative;
        margin: 0 auto;
        height: 1000px;
       
    }

    .background-image .background-colour{
        position: absolute;
        top: 10%;
        background: rgba(0, 0, 0, 0.5);
        padding-bottom: 13%;
        
    }
 .background-image p{
     color: white;
 }

    h1{
        font-size: 120px;
        margin-left: 30px;
        top: 10%;
        color: white;
    }

    h1, p{
        margin-left: 30px;
        margin-bottom: 15px;
    }

     p{
        font-size: 25px;
    }
    .connect {
        background-color: #c78c06;
        text-decoration: none;
        margin-left: 30px;
        position: absolute;
        padding: 40px;
        font-size: 40px;
    }

    .connect .im{
        margin-left: 20px;
        font-size: 40px;
      
    }

  /* .connect{
       background-color: #c78c06;
       margin-left: 30px;
       padding: 30px;
      font-size: 25px;
   }
*/
  /* .connect a,
   .connect a:link,
   .connect a:visited{
     display: block;
     padding: 1em 0;
     text-decoration: none;
    }

   .connect a:hover,
   .connect a:focus,
   .connect a.current{
   background-color:#c78c06;
   color: #222;
   }
*/

   /* nav{
        background-color: #222;
        font-size: 30px;
    }
   

    .nav-list li{
       color: #c78c06;
        text-align: center;
        margin: 0 auto;
        max-width: 95%;
    }
*/


    /* LoVe HAte */
/*.nav-list a,
.nav-list a:link,
.nav-list a:visited{
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
    background-color:#c78c06;
    color: #222;
}

.mobile-logo{
    width: 150px;
}

.mobile-logo:hover{
    background-color: #c78c06;
}

.search{
    display: none;
}

button{
    border-color: #c78c06;
    color: #c78c06;
    background-color: #222;
    padding: 20px;
}

#search{
    width: 93%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 30px;   
}
*/

